[submodule "models/nnUNet"]
	path = models/nnUNet
	url = https://github.com/jasonkena/nnUNet
[submodule "models/pointcnn_pytorch"]
	path = models/pointcnn_pytorch
	url = https://github.com/jasonkena/pointcnn_pytorch
[submodule "models/Pointnet_Pointnet2_pytorch"]
	path = models/Pointnet_Pointnet2_pytorch
	url = https://github.com/jasonkena/Pointnet_Pointnet2_pytorch.git
[submodule "models/dgcnn.pytorch"]
	path = models/dgcnn.pytorch
	url = https://github.com/jasonkena/dgcnn.pytorch
